<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <title>Greeting App</title>
   <script type="text/javascript"></script>
</head>

<body>
   <div>
      <img th:src="@{'images/logo.png'}" alt="" width="50" height="50">
   </div>
   <h1 th:text="'Hello, '+${name}+'!'">Hello World from HTML</h1>
   <p th:text="|Hello, ${name}!|">Hello World from HTML</p>
   <p th:utext="|Hello, ${name}!|">Hello World from HTML</p>
   <h3 th:text="|you have ${age} years!|">You have 30 years</h3>

   <p th:if="(${age}>=60)">
      You are very old
   </p>
   <p th:unless="(${age}>=60)">
      You are young
   </p>
   <p th:if="!(${age}>=60)">
      You are young
   </p>
   <p th:if="(${age}<60)">
      You are young
   </p>
   <p th:text="(${age}>=60)?'You are very old!':'You are young!'"></p>

   <th:block th:switch="${user.role}">
      <p th:case="'admin'"> User is an administrator!</p>
      <p th:case="'manager'"> User is a manager!</p>
      <p th:case="'staff'"> User is a staff!</p>
      <p th:case="*"> User has other role!</p>
   </th:block>
   <ul>
      <!-- <li th:each="name:${names}" th:text="|Name=${name}|"></li> -->
      <th:block th:each="name,state:${names}">
         <li th:text="|${state.index}#${state.count}#${state.even}#${state.odd}#${state.first}#${state.last}#Name=${name}|"></li>
      </th:block>

   </ul>
</body>

</html>